---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kitchenowl-pvc
  labels:
    {{- include "kitchenowl.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessModes }}
  {{- if .Values.persistence.storageClassName }}
  storageClassName: {{ .Values.persistence.storageClassName }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
