---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "kitchenowl.fullname" . }}
  labels:
{{ include "kitchenowl.labels" . | nindent 4 }} # <-- MUST start at the two-space level
spec:
  accessModes:
    - {{ .Values.persistence.accessModes }}
  {{- if .Values.persistence.storageClassName }}
  storageClassName: {{ .Values.persistence.storageClassName }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}