apiVersion: v1
kind: Service
metadata:
  name: kitchenowl
  labels:
    {{- include "kitchenowl.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "kitchenowl.selectorLabels" . | nindent 4 }}
